extends ../layout.pug

append css
  link(rel='stylesheet', href='/css/admin/password.css')

append js
  script(src='/validation/jquery.validate.min.js')
  script(src='/js/admin/password.js')

block content
  include ../include/nav.pug
  .container
    .row
      include ../include/admin-nav.pug
      main(role='main', class=['col-xl-10', 'col-md-9', 'col-md-auto'])
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='#') Lazy Blog
            li.breadcrumb-item
              a(href='#') 个人中心
            li(class=['breadcrumb-item', 'active'], aria-current='page') 修改密码
        form#pwdForm
          .form-group
            label(for='old_password') 旧密码
            input.form-control(type='password', id='old_password', name='old_password', placeholder='请输入旧密码', data-container='body', data-toggle='popover', data-placement='top', data-content='密码不符合要求')
          .form-group
            label(for='new_password') 新密码
            input.form-control(type='password', id='new_password', name='new_password', placeholder='请输入新密码，密码以英文字母开头，包含下划线和数字，且长度为6-16个字符', data-container='body', data-toggle='popover', data-placement='top', data-content='新密码不符合要求')
          .form-group
            label(for='confirm_password') 确认密码
            input.form-control(type='password', id='confirm_password', name='confirm_password', placeholder='请输入确认密码，密码以英文字母开头，包含下划线和数字，且长度为6-16个字符', data-container='body', data-toggle='popover', data-placement='top', data-content='确认密码不符合要求')
          .form-group
            button#ensure(class=['btn', 'btn-primary', 'mt-3'], type='submit') 确 定
  include ../include/footer.pug
