// 存在外边距传递的问题，将背景图片添加到body
body {
    background-image: url('/img/reg_bg.jpg');
  }
  
  
  .reg-bg {
    i {
      top: 2rem;
      right: 2rem;
      font-size: 3.25rem;
      color: #cccccc;
    }
  
    form {
      background-color: #eeeeee;
    }
  
    .card {
      .card-body:last-of-type {
        @extend form;
      }
    }
  
    #captcha {
      &:hover {
        cursor: pointer;
      }
  
      svg {
        height: 75%;
      }
    }
  }
  